@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
}

body {
	background-color: #F0F8FF;
	max-width: 960px;
	margin: auto;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.9rem;
}

sub, sup {
	font-size: 0.8em;
}
sup { 
	position: relative;
	top: 0.2em;
}
sub { 
	position: relative;
	bottom: 0.2em;
}

svg text {
	font-family: 'Poiret One', cursive;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poiret One', cursive;
	margin-bottom: 1em;
}

h1 {
	text-align: center;
	font-size: 2rem;
}
h2 { font-size: 1.7rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }

p {
	margin-top: 0;
	margin-bottom: 1em;
}

section {
	margin-bottom: 3rem;
}


/* Technical Term */
.tech-term {
	color: #2aa;
	font-weight: bold;
}
